{% if extension_version %}
    <div class="mb-3 text-xl">
        PHP <span class="font-semibold">{{ title }}</span> extension
        {{ include('components/badge.twig', {text: 'v' ~ extension_version, text_sm: true, bg: 'bg-' ~ color ~ '-500'}) }}
    </div>
{% endif %}

{% if panels_toggler is not defined %}
    <label for="toggle-panels" class="mb-3 flex cursor-pointer items-center">
        <span class="relative block h-6 w-10 rounded-full bg-gray-400">
            <input type="checkbox" id="toggle-panels"
                   class="sr-only [&:checked~.dot]:translate-x-full [&:checked~.dot]:bg-gray-900 [&:checked~.dot]:text-white
                   [&:checked~.dot>.open]:block [&:checked~.dot>.close]:hidden">
            <span class="dot absolute left-1 top-1 inline-flex h-4 w-4 items-center justify-center rounded-full text-gray-600 bg-gray-50 transition-transform">
                {{ svg('open', 10, 'open hidden') }}
                {{ svg('close', 10, 'close') }}
            </span>
        </span>
        <span class="ml-1 text-sm">Toggle panels</span>
    </label>
{% endif %}

{% if info.panels %}
    <div id="infopanels" style="display: block;">
        <div class="md:grid {{ info.panels|length >= 3 ? 'md:grid-cols-3' : 'md:grid-cols-2' }} md:gap-4">
            {% for key, panel in info.panels %}
                <div>{{ include('partials/info_table.twig', {
                        panel_title: panel.title,
                        selection: panel.server_selection,
                        current_server: panel.current_server,
                        ajax: info.ajax,
                        array: panel.data,
                        key,
                        moreinfo: panel.moreinfo,
                    }) }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}
