<div class="mb-4 rounded-sm bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-6 py-4 md:flex justify-between">
        <div>
            {% if all_keys != 0 %}
                <div class="flex" id="search_form">
                    <input type="text" id="search_key" value="{{ search_value }}" placeholder="( / ) Search..." aria-label="( / ) Search..."
                           class="w-full md:w-72 rounded-l border border-gray-300 bg-white py-1.5 px-3 text-sm
                           focus:outline-hidden focus:ring-3 focus:ring-primary-200 focus:border-primary-300
                            dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400
                            dark:focus:ring-primary-500 dark:focus:border-primary-400">
                    {{ include('components/button.twig', {
                        text: '',
                        icon: 'search',
                        id: 'submit_search',
                        class: 'rounded-l-none',
                    }) }}
                </div>
            {% endif %}
        </div>

        <div class="md:flex gap-1">
            {% for button in custom_buttons %}
                {{ button|raw }}
            {% endfor %}

            {% if buttons.import_btn %}
                {{ include('partials/import_form.twig') }}
            {% endif %}

            {% if buttons.export_btn and all_keys != 0 %}
                {{ include('components/button.twig', {
                    text: 'Export',
                    icon: 'export',
                    link: link([], {'export_btn': 1}),
                    btn_green: true,
                }) }}
            {% endif %}

            {% if buttons.add_new_btn %}
                {{ include('components/button.twig', {
                    text: 'Add new',
                    icon: 'plus',
                    link: link([], {'form': 'new'}),
                    btn_green: true,
                }) }}
            {% endif %}

            {% if all_keys != 0 %}
                {{ include('components/button.twig', {
                    text: 'Delete all',
                    icon: 'trash',
                    id: 'delete_all',
                    btn_red: true,
                }) }}

                {% if buttons.delete_selected_btn is not defined or buttons.delete_selected_btn == true %}
                    {{ include('components/button.twig', {
                        text: 'Delete selected',
                        icon: 'trash',
                        id: 'delete_selected',
                        btn_red: true,
                    }) }}
                {% endif %}
            {% endif %}
        </div>
    </div>

    {{ include('partials/table_view.twig') }}

    <div id="table-no-keys" class="{{ keys|length > 0 ? 'hidden ' : '' }}p-4 border-b border-gray-200 dark:border-gray-700 text-center dark:text-gray-400">
        No keys.
    </div>
    <div class="px-6 py-4">{{ paginator|raw }}</div>
</div>
