<div class="mb-4 bg-white rounded-md border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex-wrap gap-3 justify-between py-4 px-6 md:flex">
        <div class="flex flex-wrap gap-3">
            {% if treeview %}
                <div>
                    <div class="flex border rounded-sm overflow-hidden border-gray-300 dark:border-gray-600 [&>.active]:text-gray-600 dark:[&>.active]:text-gray-300 [&>.active]:bg-gray-200 dark:[&>.active]:bg-gray-950">
                        <a href="{{ link([], {'view': 'table'}) }}" title="Table view" class="{{ get('view', config('listview', 'table')) == 'table' ? 'active ' : '' }}flex items-center justify-center px-3 py-1.5 text-gray-400 dark:text-gray-500">
                            {{ svg('tableview', 20) }}
                        </a>
                        <a href="{{ link([], {'view': 'tree'}) }}" title="Tree view" class="{{ get('view', config('listview', 'table')) == 'tree' ? 'active ' : '' }}flex items-center justify-center px-3 py-1.5 text-gray-400 dark:text-gray-500 border-l border-gray-300 dark:border-gray-600">
                            {{ svg('treeview', 20) }}
                        </a>
                    </div>
                </div>
            {% endif %}

            {% if all_keys != 0 %}
                <div>
                    <div class="flex" id="search_form">
                        <input type="text" id="search_key" value="{{ search_value }}" placeholder="Search..." aria-label="Search..."
                               class="py-1.5 px-3 w-full text-sm bg-white rounded-l border border-gray-300 md:w-72
                               focus:outline-hidden focus:ring-3 focus:ring-primary-200 focus:border-primary-300
                               dark:placeholder-gray-400 dark:text-white dark:bg-gray-800 dark:border-gray-600 dark:focus:ring-primary-500 dark:focus:border-primary-400">
                        {{ include('components/button.twig', {
                            text: '',
                            icon: 'search',
                            id: 'submit_search',
                            class: 'rounded-l-none',
                        }) }}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="flex-wrap gap-2 md:flex">
            {% for button in custom_buttons %}
                {{ button|raw }}
            {% endfor %}

            {% if buttons.import_btn %}
                {{ include('partials/import_form.twig') }}
            {% endif %}

            {% if buttons.export_btn and all_keys != 0 %}
                {{ include('components/button.twig', {
                    text: 'Export',
                    icon: 'export',
                    link: link([], {'export_btn': 1}),
                    color: 'green',
                }) }}
            {% endif %}

            {% if buttons.add_new_btn %}
                {{ include('components/button.twig', {
                    text: 'Add new',
                    icon: 'plus',
                    link: link([], {'form': 'new'}),
                    color: 'green',
                }) }}
            {% endif %}

            {% if all_keys != 0 %}
                {{ include('components/button.twig', {
                    text: 'Delete all',
                    icon: 'trash',
                    id: 'delete_all',
                    color: 'red',
                }) }}

                {% if buttons.delete_selected_btn is not defined or buttons.delete_selected_btn == true %}
                    {{ include('components/button.twig', {
                        text: 'Delete selected',
                        icon: 'trash',
                        id: 'delete_selected',
                        color: 'red',
                    }) }}
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if treeview and get('view', config('listview', 'table')) == 'tree' %}
        {{ include('partials/tree_view.twig') }}
    {% else %}
        {{ include('partials/table_view.twig') }}
    {% endif %}

    <div id="table-no-keys" class="{{ keys|length > 0 ? 'hidden ' : '' }}p-4 border-b border-gray-200 dark:border-gray-700 text-center dark:text-gray-400">
        No keys.
    </div>
    <div class="py-4 px-6">{{ paginator|raw }}</div>
</div>
