{% import 'partials/key_type_badge.twig' as key_badge %}

<div class="bg-white shadow-sm shadow-gray-300 rounded mb-5">
    <div class="w-full overflow-x-auto">
        <table class="table-fixed w-full text-left">
            <thead>
            <tr class="bg-{{ color }}-100 text-{{ color }}-900">
                <th class="w-3 rounded-tl bg-{{ color }}-100 px-3 md:px-5 py-2">
                    <input type="checkbox"
                           class="check-all checkbox text-{{ color }}-500 focus:border-{{ color }}-300 focus:ring-{{ color }}-200"
                           aria-label=""{{ keys|length == 0 ? ' disabled' : '' }}>
                </th>
                <th class="px-3 md:px-5 py-2 text-xs uppercase font-bold whitespace-nowrap">Key</th>
                <th class="hidden md:table-cell w-24 px-3 md:px-5 py-2 text-xs uppercase font-bold whitespace-nowrap">Type</th>
                <th class="w-32 px-3 md:px-5 py-2 text-xs uppercase font-bold whitespace-nowrap">TTL</th>
                <th class="w-14 md:w-24 lg:w-40 rounded-tr px-3 md:px-5 py-2 text-xs uppercase font-bold whitespace-nowrap">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if keys %}
                {% for key in keys %}
                    <tr class="[&:last-child>*]:border-0" data-key="{{ key.key }}">
                        <td class="border-b border-gray-100 px-3 md:px-5 py-2">
                            <input type="checkbox"
                                   class="checkbox-key checkbox text-{{ color }}-500 focus:border-{{ color }}-300 focus:ring-{{ color }}-200" aria-label="">
                        </td>
                        <td class="border-b border-gray-100 px-3 md:px-5 py-2 text-sm whitespace-nowrap truncate">
                            <a class="text-{{ color }}-500 hover:text-{{ color }}-700" href="{{ view_url|replace({'ttl_value': key.ttl}) ~ key.key }}" title="{{ key.key }}">
                                {{ (key.items_total ? '<span class="hidden md:inline-block">(' ~ key.items_total ~ ' items)&nbsp;</span>' : '')|raw }}{{ key.key }}
                            </a>
                        </td>
                        <td class="hidden md:table-cell border-b border-gray-100 px-3 md:px-5 py-2 text-sm whitespace-nowrap">{{ key_badge.key_type(key.type) }}</td>
                        <td class="border-b border-gray-100 px-3 md:px-5 py-2 text-sm whitespace-nowrap">
                            {% if key.ttl == -1 %}
                                Doesn't expire
                            {% else %}
                                {{ key.ttl }}
                            {% endif %}
                        </td>
                        <td class="border-b border-gray-100 px-3 md:px-5 py-2 text-sm whitespace-nowrap">
                            {% set edit_url = edit_url|replace({'ttl_value': key_ttl}) %}
                            <a class="text-gray-500 hover:text-gray-700 font-semibold mr-3" href="{{ edit_url ~ key.key }}" title="Edit">
                                {{ svg('edit', 12) }}<span class="hidden lg:inline-block ml-1">Edit</span>
                            </a>
                            <button class="text-red-500 hover:text-red-700 font-semibold delete-key" type="button" title="Delete">
                                {{ svg('trash', 12) }}<span class="hidden lg:inline-block ml-1">Delete</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center p-5">No keys.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{{ paginator|raw }}
