<div class="mb-5 rounded bg-white shadow-sm shadow-gray-300">
    <div class="w-full overflow-x-auto">
        <table class="w-full table-auto text-left">
            <thead>
            <tr class="bg-primary-100 text-primary-900">
                <th class="px-3 py-2 md:px-5 w-3 rounded-tl">{{ include('components/checkbox.twig', {disabled: keys|length == 0, class: 'check-all'}) }}</th>
                {% for item in head_items %}
                    <th class="px-3 py-2 text-xs font-bold uppercase whitespace-nowrap md:px-5{{ item.class|space }}">{{ item.title }}</th>
                {% endfor %}
                <th class="px-3 py-2 text-xs font-bold uppercase whitespace-nowrap md:px-5 w-24 rounded-tr">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if keys %}
                {% for key in keys %}
                    <tr class="[&:last-child>*]:border-b-0" data-key="{{ key.key }}">
                        <td class="border-b border-gray-100 px-3 py-2 md:px-5">{{ include('components/checkbox.twig', {class: 'checkbox-key'}) }}</td>
                        {% for item_key, item in key.items %}
                            {% set ttl = item_key == 'ttl' ? item : '' %}
                            {% set full = item.full ? ' title="' ~ item.full ~ '"' : '' %}
                            <td class="border-b border-gray-100 px-3 py-2 text-sm whitespace-nowrap md:px-5{{ classes[loop.index]|space }}"{{ full|raw }}>
                                {% if item.title %}
                                    {% if item.link %}
                                        <a class="text-primary-500 hover:text-primary-700 font-semibold" href="{{ view_url|replace({'ttl_value': ttl}) ~ key.key }}">
                                            {{- item.title -}}
                                        </a>
                                    {% else %}
                                        {{- item.title -}}
                                    {% endif %}
                                {% elseif item_key == 'type' %}
                                    {% import 'partials/key_type_badge.twig' as key_badge %}
                                    {{- key_badge.key_type(item) -}}
                                {% else %}
                                    {{- item -}}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td class="border-b border-gray-100 px-3 py-2 text-sm whitespace-nowrap md:px-5">
                            <button class="delete-key text-red-500 hover:text-red-700 font-semibold inline-flex items-center" type="button" title="Delete">
                                {{ svg('trash', 16, 'mr-1') }} Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="{{ head_items|length + 2 }}" class="p-5 text-center">No keys.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{{ paginator|raw }}
