<div class="mb-4 rounded bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="border-b border-gray-200 px-4 py-1.5 text-primary-700 dark:border-gray-700 dark:text-primary-400">
        <div class="flex flex-wrap items-center">
            <div class="w-full max-w-full flex-1 flex-grow">
                <h2 class="font-semibold">{{ panel_title }}</h2>
            </div>
        </div>
    </div>

    <div class="[&>:last-child]:border-b-0 dark:border-gray-700">
        {% for name, value in array %}
            <div class="border-b border-gray-200 px-4 py-1 flex justify-between items-center text-right dark:border-gray-700 dark:text-gray-300">
                <b class="text-xs">{{ name }}</b>
                <span class="text-sm">{{ value }}</span>
            </div>
        {% endfor %}
    </div>

    {% if moreinfo %}
        <div class="border-t border-gray-200 px-4 py-1 text-right dark:border-gray-700">
            {% set id = server_id is not null ? '&server=' ~ server_id : '' %}
            <a class="text-primary-500 hover:text-primary-700 font-semibold dark:text-primary-400 dark:hover:text-primary-300" href="?dashboard={{ current }}&moreinfo{{ id|raw }}">Show more info</a>
        </div>
    {% endif %}
</div>
