{% import 'components/macros.twig' as macros %}

<div class="overflow-hidden mb-4 card" id="{{ panel_title|default('')|snake_case }}_panel">
    <div class="py-2 px-4 bg-gray-50 border-b border-gray-200 dark:border-gray-700 dark:bg-white/5">
        <h2 class="text-sm font-semibold text-gray-900 dark:text-white">{{ panel_title }}</h2>
    </div>

    <div class="divide-y divide-gray-900/5 dark:divide-white/5">
        {% for name, value in array %}
            {% if name or value is iterable %}
                {% set value_name = value is iterable ? value[0] : name %}
                <div class="py-1.5 px-4">
                    <div class="flex flex-wrap gap-x-4 gap-y-0.5 items-center">
                        <div class="text-xs font-semibold text-gray-600 dark:text-gray-300">{{ value_name }}</div>
                        <div class="ml-auto text-sm font-semibold text-right text-gray-900 wrap-break-word dark:text-white" data-value="{{ value_name|snake_case }}">{{ value is iterable ? value[1] : value }}</div>
                    </div>

                    {% if value[2] is not null %}
                        {{ macros.progress(value[2], (value[3] ?? 'lower'), value_name|snake_case) }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
