{% macro progress(percentage, type='lower', id=null) %}
    {% if type == 'higher' %}{# higher is better #}
        {% if percentage >= 80 %}
            {% set color = 'bg-green-600' %}
        {% elseif percentage >= 50 %}
            {% set color = 'bg-orange-600' %}
        {% else %}
            {% set color = 'bg-red-600' %}
        {% endif %}
    {% else %}{# lower is better #}
        {% if percentage <= 50 %}
            {% set color = 'bg-green-600' %}
        {% elseif percentage <= 80 %}
            {% set color = 'bg-orange-600' %}
        {% else %}
            {% set color = 'bg-red-600' %}
        {% endif %}
    {% endif %}

    <div class="mb-0.5 w-full h-1.5 bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="{{ color }} h-1.5 rounded-full transition-[width,background-color] duration-500 ease-in-out" style="width: {{ percentage }}%;"{{ id ? ' data-progress="%s" data-type="%s"'|format(id, type)|raw : '' }}></div>
    </div>
{% endmacro %}

<div class="overflow-hidden mb-4 bg-white rounded-md border border-gray-200 dark:bg-gray-800 dark:border-gray-700" id="{{ panel_title|default('')|snake_case }}_panel">
    <div class="py-2 px-4 bg-gray-50 border-b border-gray-200 dark:border-gray-700 dark:bg-white/5">
        <div class="flex gap-4 justify-between items-center">
            <h2 class="text-sm font-semibold text-gray-900 dark:text-white">{{ panel_title }}</h2>
            {% if moreinfo %}
                <a href="{{ link([''], {'moreinfo': 1}) }}" class="text-xs font-semibold text-primary-600 dark:text-primary-400 dark:hover:text-primary-300 hover:text-primary-700">More info</a>
            {% endif %}
        </div>
    </div>

    <div class="divide-y divide-gray-900/5 dark:divide-white/5">
        {% for name, value in array %}
            {% if name or value is iterable %}
                {% set value_name = value is iterable ? value[0] : name %}
                <div class="py-1.5 px-4">
                    <div class="flex gap-4 justify-between items-center">
                        <div class="text-xs font-semibold text-gray-600 dark:text-gray-300">{{ value_name }}</div>
                        <div class="text-sm font-semibold text-gray-900 dark:text-white" data-value="{{ value_name|snake_case }}">{{ value is iterable ? value[1] : value }}</div>
                    </div>

                    {% if value[2] is not null %}
                        {{ _self.progress(value[2], (value[3] ?? 'lower'), value_name|snake_case) }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
