{% import 'components/macros.twig' as components %}
{% set show_actions = hide_actions is not defined or hide_actions == false %}
<div class="overflow-hidden overflow-x-auto">
    <table class="w-full text-left table-auto dark:text-gray-300">
        <thead>
        <tr class="border-t border-b border-gray-200 dark:border-gray-700 text-primary-900 dark:text-primary-400">
            {% if show_actions %}
                <th class="py-2 px-3 pl-6 w-4" title="Check all">{{ components.checkbox('check-all', keys|length == 0) }}</th>
            {% endif %}
            {% for item in head_items %}
                {% set is_active = sortcol == item.sort %}
                {% set data_sort = item.sort ? ' data-sortdir="%s" data-sortcol="%s"'|format(sortdir, item.sort)|raw : '' %}

                <th class="px-3 py-2 text-xs font-bold uppercase whitespace-nowrap{{ item.class|space }}">
                    {% if item.sort %}
                        <button type="button" class="inline-flex gap-1 items-center text-xs font-bold uppercase appearance-none cursor-pointer" {{ data_sort|raw }}>
                            {{ item.title }}
                            {{ svg('down', 10, (is_active ? '' : 'opacity-30') ~ (is_active and sortdir == 'asc' ? ' rotate-180' : '')) }}
                        </button>
                    {% else %}
                        <span class="inline-flex gap-1 items-center">{{ item.title }}</span>
                    {% endif %}
                </th>
            {% endfor %}
            {% if show_actions %}
                <th class="py-2 px-3 w-24 text-xs font-bold uppercase whitespace-nowrap">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for key in keys %}
            <tr class="hover:bg-gray-50 dark:hover:bg-white/5" data-key="{{ key.base64 ? key.key|base64 : key.key }}">
                {% if show_actions %}
                    <td class="py-2 px-3 pl-6 border-b border-gray-200 dark:border-gray-700">{{ components.checkbox('check-key') }}</td>
                {% endif %}
                {% for item_key, item in key.info %}
                    {% set is_title = item_key == 'title' or (item_key == 'link_title' and view_key) %}
                    {% set td_class = is_title ? ' max-w-xs md:max-w-md truncate hover:text-clip hover:break-all hover:whitespace-normal' : '' %}
                    <td class="px-3 py-2 border-b border-gray-200 text-sm{{ td_class }}{{ classes[loop.index]|space }} dark:border-gray-700 dark:text-gray-300">
                        {% if item_key == 'link_title' and view_key %}
                            {% set link = view_key|replace({'__key__': key.key}) %}
                            <a class="font-semibold text-primary-500 dark:text-primary-400 dark:hover:text-primary-300 hover:text-primary-700" href="{{ link }}">
                                {{ item }}
                                {% if key.items %}
                                    <span class="text-xs text-gray-500 dark:text-gray-400">({{ key.items }} items)</span>
                                {% endif %}
                            </a>
                        {% elseif item_key == 'type' %}
                            {{- components.key_type(item) -}}
                        {% elseif item_key starts with 'number_' %}
                            {{- item|number -}}
                        {% elseif item_key starts with 'time_' %}
                            {{- item|time -}}
                        {% elseif item_key starts with 'timediff_' and item is not empty %}
                            <span title="{{ item|time }}">{{- item|timediff -}}</span>
                        {% elseif item_key == 'ttl' and item is not empty %}
                            <span title="{{ is_numeric(item) ? item|seconds : item }}">{{- item -}}</span>
                        {% elseif item_key starts with 'bytes_' %}
                            {{- item|bytes -}}
                        {% else %}
                            {{- item -}}
                        {% endif %}
                    </td>
                {% endfor %}
                {% if show_actions %}
                    <td class="py-2 px-3 text-sm whitespace-nowrap border-b border-gray-200 dark:border-gray-700">
                        <button class="inline-flex gap-1 items-center font-semibold text-red-500 hover:text-red-700 delete-key" type="button" title="Delete">
                            {{ svg('trash', 16) }} Delete
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
