{% set show_actions = hide_actions is not defined or hide_actions == false %}
{% macro render_tree(items, level=0, show_actions, view_key) %}
    {% for key, item in items %}
        {% if item.type == 'folder' %}
            <div class="border-t border-gray-200 dark:border-gray-700" style="--level: {{ level }}">
                <div class="flex items-center gap-1 py-1 px-6 hover:bg-gray-50 dark:hover:bg-white/5" style="padding-left: calc({{ level }} * 20px + 1.5rem)">
                    <button class="tree-toggle flex gap-1 items-center" data-path="{{ item.path }}">
                        {{ svg('down', 10, '-rotate-90') }}
                        <span class="tree">{{ item.name }}{{ separator }}*</span>
                    </button>
                    <span class="items-count text-gray-500 dark:text-gray-400 text-xs">({{ item.count }})</span>
                </div>
                <div class="tree-children hidden" data-path="{{ item.path }}">
                    {{ _self.render_tree(item.children, level + 1, show_actions, view_key) }}
                </div>
            </div>
        {% else %}
            <div class="keywrapper border-t border-gray-200 dark:border-gray-700" style="--level: {{ level }}">
                <div data-key="{{ item.base64 ? item.key|base64 : item.key }}" class="flex justify-between px-6 py-1 hover:bg-gray-50 dark:hover:bg-white/5" style="padding-left: calc({{ level }} * 20px + 32px)">
                    <div class="flex items-center gap-2">
                        {% if show_actions %}
                            {{ include('components/checkbox.twig', {class: 'check-key mt-0'}) }}
                        {% endif %}

                        <span class="text-primary-500 hover:text-primary-700 font-semibold dark:text-primary-400 dark:hover:text-primary-300">
                            {% set link = view_key|replace({'__key__': item.key}) %}
                            <a class="text-primary-500 hover:text-primary-700 font-semibold dark:text-primary-400 dark:hover:text-primary-300" href="{{ link }}">
                                {{ item.name }}
                            </a>
                        </span>
                    </div>

                    <div class="flex gap-4">
                        {% for item_key, kitem in item.info %}
                            {% if item_key == 'type' %}
                                {% import 'partials/key_type_badge.twig' as key_badge %}
                                {{- key_badge.key_type(kitem) -}}
                            {% elseif item_key starts with 'number_' %}
                                {{- kitem|number -}}
                            {% elseif item_key starts with 'time_' %}
                                {{- kitem|time -}}
                            {% elseif item_key starts with 'timediff_' %}
                                <span title="{{ kitem|time }}">{{- kitem|timediff -}}</span>
                            {% elseif item_key starts with 'bytes_' %}
                                {{- kitem|bytes -}}
                            {% else %}
                                {{- kitem -}}
                            {% endif %}
                        {% endfor %}

                        {% if show_actions %}
                            <button class="delete-key text-red-500 hover:text-red-700 font-semibold inline-flex items-center gap-1" type="button" title="Delete">
                                {{ svg('trash', 16) }} Delete
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

<div class="treeview border-b border-t border-gray-200 dark:border-gray-700">
    <div class="flex gap-2 px-6 py-2">
        <div title="Check all">{{ include('components/checkbox.twig', {disabled: keys|length == 0, class: 'check-all'}) }}</div>
        <button class="expand-toggle text-xs px-2 py-1 rounded text-gray-900 bg-gray-100 hover:bg-gray-300 dark:text-gray-100 dark:bg-gray-900 dark:hover:bg-gray-700">
            Expand all
        </button>
    </div>
    <div class="tree-content">
        {{ _self.render_tree(keys, 0, show_actions, view_key) }}
    </div>
</div>
