{% import 'components/macros.twig' as components %}
{{ include('components/button.twig', {
    text: 'Add another value',
    icon: 'plus',
    link: add_subkey_url,
    color: 'green',
    class: 'mb-4',
}) }}

{% for item in value %}
    <div class="mb-4 bg-white rounded-md border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex overflow-y-auto justify-between py-1.5 px-4 border-b border-gray-200 dark:border-gray-700">
            <span class="dark:text-gray-300">
                {% if type not in types.extra.hide_title %}
                    {{ types[type].title }} {{ components.badge(item.sub_key, 'indigo') }}
                {% endif %}

                {% if item.encode_fn %}
                    <span>Encoded with {{ components.badge(item.encode_fn, 'blue', 'uppercase') }}</span>
                    {% set item_encode_url = '&encoder=' ~ item.encode_fn %}
                {% endif %}

                {% if item.formatted == true %}
                    {{ components.badge('Formatted', 'blue', 'uppercase') }}
                {% endif %}
            </span>

            <div>
                <a href="{{ edit_url }}&{{ types[type].param }}={{ item.key ~ item_encode_url }}" class="inline-flex gap-1 items-center mr-3 font-semibold text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300">
                    {{ svg('edit', 16) }} Edit
                </a>
                <a href="{{ deletesub_url }}&{{ types[type].param }}={{ item.key }}" class="inline-flex gap-1 items-center font-semibold text-red-500 dark:text-red-400 hover:text-red-700 dark:hover:text-red-300"
                   onclick="return confirm('Are you sure you want to remove this item?');">
                    {{ svg('trash', 16) }} Delete
                </a>
            </div>
        </div>

        <div class="overflow-y-auto p-4 dark:text-gray-300">
            {{ item.value|raw }}
        </div>
    </div>
{% endfor %}

{{ paginator|raw }}
