{% if type not in types.extra.hide_edit %}
    {{ include('components/button.twig', {
        text: 'Add another value',
        icon: 'plus',
        link: add_subkey_url,
        btn_green: true,
        class: 'mb-3',
    }) }}
{% endif %}

{% for item in value %}
    <div class="mb-3 rounded bg-white shadow-sm shadow-gray-300">
        <div class="flex justify-between overflow-y-auto border-b px-4 py-1.5">
            <span>
                {% if type not in types.extra.hide_title %}
                    {{ types[type].title }} {{ include('components/badge.twig', {text: item.sub_key, class: 'font-bold', bg: 'bg-slate-400'}) }}
                {% endif %}

                {% if item.encode_fn %}
                    <span>
                        Encoded with
                        {{ include('components/badge.twig', {text: item.encode_fn, class: 'uppercase font-bold', bg: 'bg-blue-500'}) }}
                    </span>

                    {% set item_encode_url = '&encoder=' ~ item.encode_fn %}
                {% endif %}

                {% if item.formatted == true %}
                    {{ include('components/badge.twig', {text: 'Formatted', class: 'uppercase font-bold', bg: 'bg-blue-500'}) }}
                {% endif %}
            </span>

            <div>
                {% if type not in types.extra.hide_edit %}
                    <a href="{{ edit_url }}&{{ types[type].param }}={{ item.key ~ item_encode_url }}" class="text-gray-500 hover:text-gray-700 font-semibold inline-flex items-center mr-3">
                        {{ svg('edit', 16, 'mr-1') }} Edit
                    </a>
                {% endif %}
                <a href="{{ deletesub_url }}&{{ types[type].param }}={{ item.key }}" class="text-red-500 hover:text-red-700 font-semibold inline-flex items-center"
                   onclick="return confirm('Are you sure you want to remove this item?');">
                    {{ svg('trash', 16, 'mr-1') }} Delete
                </a>
            </div>
        </div>

        <div class="overflow-y-auto p-4">
            {{ item.value|raw }}
        </div>
    </div>
{% endfor %}

{{ paginator|raw }}
