{% import 'partials/key_type_badge.twig' as key_badge %}
<div class="mb-2 text-lg font-semibold break-all">{{ key }}</div>
<div class="mb-3 lg:flex lg:items-center lg:gap-2">
    {% if type %}
        <span>Type {{ key_badge.key_type(type) }}</span>
    {% endif %}

    {% if ttl %}
        <span>
            TTL
            {{ include('components/badge.twig', {
                text: ttl == -1 ? 'Doesn\'t expire' : ttl,
                class: 'uppercase font-bold',
                bg: 'bg-slate-500',
            }) }}
        </span>
    {% endif %}

    {% if size %}
        <span>
            Size
            {{ include('components/badge.twig', {
                text: size,
                class: 'font-bold',
                bg: 'bg-sky-500',
            }) }}
        </span>
    {% endif %}

    {% if encode_fn %}
        <span>Encoded with {{ include('components/badge.twig', {text: encode_fn, class: 'uppercase font-bold', bg: 'bg-blue-500'}) }}</span>
        {% set encode_url = '&encoder=' ~ encode_fn %}
    {% endif %}

    {% if formatted == true %}
        {{ include('components/badge.twig', {text: 'Formatted', class: 'uppercase font-bold', bg: 'bg-blue-500'}) }}
    {% endif %}

    <span>
        {% if export_url %}
            <a href="{{ export_url }}" class="inline-flex items-center font-semibold text-gray-500 hover:text-gray-700">
                {{ svg('export', 16, 'mr-1') }} Export
            </a>
        {% endif %}

        {% if delete_url %}
            <a href="{{ delete_url }}" class="inline-flex items-center font-semibold text-red-500 hover:text-red-700"
               onclick="return confirm('Are you sure you want to remove this item?');">
                {{ svg('trash', 16, 'mr-1') }} Delete
            </a>
        {% endif %}
    </span>
</div>

{% if value is iterable %}
    {{ include('partials/view_key_array.twig') }}
{% else %}
    {% if edit_url %}
        <a href="{{ edit_url ~ encode_url }}" class="mr-3 mb-3 inline-flex items-center font-semibold text-gray-500 hover:text-gray-700">
            {{ svg('edit', 16, 'mr-1') }} Edit
        </a>
    {% endif %}
    <div class="rounded bg-white shadow-sm shadow-gray-300">
        <div class="overflow-y-auto p-4">
            {{ value|raw }}
        </div>
    </div>
{% endif %}
