{% if show_info %}
    {{ include('partials/info.twig') }}
{% endif %}

<div class="flex md:justify-end gap-1 mb-5">
    <button type="button" id="delete_all"
            class="text-sm py-1.5 px-3 text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-semibold rounded inline-flex items-center gap-1 [&>svg]:align-middle">
        {{ svg('trash') }} Clean cache
    </button>
</div>

<div class="bg-white shadow-sm shadow-gray-300 rounded mb-5">
    <div class="w-full overflow-x-auto">
        <table class="table-auto w-full text-left">
            <thead>
            <tr class="bg-{{ color }}-100 text-{{ color }}-900">
                <th class="px-5 py-2.5 text-xs uppercase font-bold whitespace-nowrap">Filename</th>
                <th class="px-5 py-2.5 text-xs uppercase font-bold whitespace-nowrap">Hits</th>
                <th class="px-5 py-2.5 text-xs uppercase font-bold whitespace-nowrap">Memory</th>
                <th class="px-5 py-2.5 text-xs uppercase font-bold whitespace-nowrap">Last used</th>
                <th class="px-5 py-2.5 text-xs uppercase font-bold whitespace-nowrap">Created</th>
                <th class="px-5 py-2.5 text-xs uppercase font-bold whitespace-nowrap">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if cached_scripts %}
                {% for script in cached_scripts %}
                    <tr class="[&:last-child>*]:border-0" data-key="{{ script.invalidate_url }}">
                        <td class="border-b border-gray-100 px-5 py-2 text-sm" title="{{ script.path }}">{{ script.name }}</td>
                        <td class="border-b border-gray-100 px-5 py-2 text-sm">{{ script.hits }}</td>
                        <td class="border-b border-gray-100 px-5 py-2 text-sm">{{ script.memory }}</td>
                        <td class="border-b border-gray-100 px-5 py-2 text-sm">{{ script.last_used }}</td>
                        <td class="border-b border-gray-100 px-5 py-2 text-sm">{{ script.created }}</td>
                        <td class="border-b border-gray-100 px-5 py-2 text-sm">
                            <button type="button" class="text-red-500 hover:text-red-700 font-semibold delete-key">Invalidate</button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center p-5">No cached scripts.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="md:grid md:grid-cols-3 mt-5">
    <div class="flex items-center gap-2"></div>
    <div class="flex items-center md:justify-center gap-2 mb-3 md:mb-0">
        {{ include('components/select.twig', {id: 'per_page', options: {50: 50, 100: 100, 200: 200, 300: 300, 400: 400}, selected: per_page, sm: true, class: 'w-16'}) }}
        <label class="font-semibold -mt-1.5" for="per_page">per page</label>
    </div>
    <div class="flex items-center md:justify-end">{{ include('components/paginate.twig') }}</div>
</div>
