{% import 'components/macros.twig' as components %}
<div class="md:grid md:grid-cols-2 md:gap-4">
    {% for panel in panels %}
        {{ include('partials/info_table.twig', {
            panel_title: panel.title,
            array: panel.data,
        }) }}
    {% endfor %}
</div>

{{ include('components/button.twig', {
    text: 'PHP Info',
    link: link([], {'moreinfo': 1}),
    class: 'mb-4',
}) }}

<div class="mb-4 text-lg font-semibold">Loaded PHP extensions ({{ extensions|length }})</div>

<div>
    {% for extension in extensions %}
        <a href="{{ link([''], {'moreinfo': 1}) ~ '#module_' ~ extension|replace({' ': '+'})|lower }}">
            {{ components.badge(extension, 'blue', 'm-1') }}
        </a>
    {% endfor %}
</div>

<small class="text-xs">You can click on these badges, and it will redirect you to the appropriate section in phpinfo().</small>
