{{ include('components/tabs.twig', {
    links: {
        'keys': 'Keys',
        'slowlog': 'Slow Log',
        'metrics': 'Metrics',
    },
    class: '-m-4 px-4 relative bg-white dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700',
}) }}

{% if get('tab', 'keys') == 'keys' %}
    {{ include('partials/keys_list.twig', {
        treeview: true,
        buttons: {
            import_btn: true,
            export_btn: true,
            add_new_btn: true,
        },
        head_items: [
            {'title': 'Key', 'sort': 'link_title'},
            {'title': 'Size', 'class': 'w-24', 'sort': 'bytes_size'},
            {'title': 'Type', 'class': 'w-24 hidden md:table-cell', 'sort': 'type'},
            {'title': 'TTL', 'class': 'w-32', 'sort': 'ttl'},
        ],
        classes: {
            2: 'hidden md:table-cell',
        },
    }) }}
{% endif %}

{% if get('tab') == 'slowlog' %}
    <div class="bg-white rounded-md border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="justify-between py-4 px-6 md:flex">
            <div class="gap-1 items-center md:flex">
                <form method="post" class="gap-1 md:flex">
                    {{ include('components/input.twig', {
                        id: 'slowlog_max_items',
                        label: 'Display&nbsp;items',
                        value: slowlog.max_items,
                        inline_input: true,
                    }) }}

                    {{ include('components/input.twig', {
                        id: 'slowlog_slower_than',
                        label: 'Slower&nbsp;than&nbsp;(μs)',
                        value: slowlog.slower_than,
                        inline_input: true,
                    }) }}

                    {{ include('components/button.twig', {
                        id: 'save',
                        text: 'Save',
                        color: 'green',
                        submit: true,
                    }) }}
                </form>
                <div class="text-xs">This will change the config value. Default is 128 items and 10 000 μs.</div>
            </div>

            <div class="gap-1 md:flex">
                {{ include('components/button.twig', {
                    text: 'Reset',
                    link: link(['tab'], {'resetlog': 1}),
                    color: 'green',
                }) }}
            </div>
        </div>

        <div class="overflow-hidden overflow-x-auto">
            <table class="w-full text-left table-auto dark:text-gray-300">
                <thead>
                <tr class="border-t border-b border-gray-200 dark:border-gray-700 text-primary-900 dark:text-primary-400">
                    <th class="py-2 px-6 text-xs font-bold uppercase">ID</th>
                    <th class="py-2 px-6 text-xs font-bold uppercase">Timestamp</th>
                    <th class="py-2 px-6 text-xs font-bold uppercase">Duration</th>
                    <th class="py-2 px-6 text-xs font-bold uppercase">Command</th>
                </tr>
                </thead>
                <tbody>
                {% for item in slowlog.items %}
                    <tr class="hover:bg-gray-50 dark:hover:bg-white/5">
                        <td class="py-2 px-6 text-sm border-t border-gray-200 dark:text-gray-300 dark:border-gray-700">{{ item[0] }}</td>
                        <td class="py-2 px-6 text-sm border-t border-gray-200 dark:text-gray-300 dark:border-gray-700">{{ item[1]|time }}</td>
                        <td class="py-2 px-6 text-sm border-t border-gray-200 dark:text-gray-300 dark:border-gray-700">{{ item[2] }}μs</td>
                        <td class="py-2 px-6 text-sm border-t border-gray-200 dark:text-gray-300 dark:border-gray-700">{{ item[3]|join(' ') }}</td>
                    </tr>
                {% else %}
                    <tr class="hover:bg-gray-50 dark:hover:bg-white/5">
                        <td colspan="4" class="py-2 px-6 text-sm text-center border-t border-gray-200 dark:text-gray-300 dark:border-gray-700">No items.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% if get('tab') == 'metrics' %}
    {{ include('dashboards/redis/metrics.twig') }}
{% endif %}
