<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site_title }} - phpCacheAdmin</title>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/css/styles.css?v={{ version }}">

    {%- if colors -%}
        <style>
            :root {
            {{ colors }}
            }
        </style>
    {%- endif %}
    <script>
        const theme = localStorage.getItem('theme') || 'system';
        let current_theme = theme;

        if (theme === 'system') {
            current_theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            document.documentElement.setAttribute('color-theme', 'system');
        } else {
            document.documentElement.setAttribute('color-theme', theme);
        }

        document.documentElement.classList.toggle('dark', current_theme === 'dark');

        const panels_refresh_interval = {{ config('panelrefresh', 30) * 1000 }};
        const ajax_panels = {{ ajax_panels is defined and ajax_panels == true ? 'true' : 'false' }};
        const metrics_refresh_interval = {{ config('metricsrefresh', 60) * 1000 }};
        let metrics_active_filter = {{ config('metricstab', 1440) }};
    </script>
</head>
<body class="bg-gray-100 text-gray-900 dark:text-gray-200 dark:bg-gray-900" data-dashboard="{{ current }}">
<header class="md:grid md:grid-cols-3 p-4 bg-white dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700">
    <div class="flex">
        <a class="block w-72 md:me-4" href="/">{{ svg('logo', null) }}</a>
        <div class="w-72">{{ servers|raw }}</div>
    </div>

    <div class="flex items-center justify-center gap-4">
        {% for link, item in nav %}
            {% set link_bg = item.colors ? ' style="--link-bg:' ~ item.colors.500 ~ ';--link-bg-hover:' ~ item.colors.700 ~ ';--link-active:' ~ item.colors.300 ~ ';--link-active-dark:' ~ item.colors.900 ~ ';"' : '' %}
            {% set server = get('server') and get('dashboard') == link ? '&server=' ~ get('server') : '' %}
            <a class="sblink{{ current == link ? ' active' : '' }} flex size-9 items-center justify-center rounded-sm text-white" {{ link_bg|raw }} href="?dashboard={{ link ~ server }}" title="{{ item.title }}">
                {{ svg(item.icon ?? ('dashboards/' ~ item.key), 16) }}
            </a>
        {% endfor %}
    </div>

    <div class="flex items-center justify-end gap-4">
        {% if logout_url %}
            <a class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100" href="{{ logout_url }}" title="Logout" target="_blank" rel="noopener">{{ svg('logout', 32) }}</a>
        {% endif %}

        <div class="flex border rounded-sm overflow-hidden border-gray-300 dark:border-gray-600 [&>.active]:text-gray-600 dark:[&>.active]:text-gray-300 [&>.active]:bg-gray-200 dark:[&>.active]:bg-gray-950">
            <button class="cursor-pointer flex items-center justify-center px-3 py-2 text-gray-400 dark:text-gray-500" type="button" data-theme="light" title="Light">
                {{ svg('sun', 18) }}
            </button>
            <button class="cursor-pointer flex items-center justify-center px-3 py-2 text-gray-400 dark:text-gray-500 border-l border-gray-300 dark:border-gray-600" type="button" data-theme="dark" title="Dark">
                {{ svg('moon', 18) }}
            </button>
            <button class="cursor-pointer flex items-center justify-center px-3 py-2 text-gray-400 dark:text-gray-500 border-l border-gray-300 dark:border-gray-600" type="button" data-theme="system" title="System">
                {{ svg('system', 18) }}
            </button>
        </div>

        <a class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100" href="{{ repo }}" title="GitHub" target="_blank" rel="noopener">{{ svg('github', 28) }}</a>
    </div>
</header>
<main class="p-4" id="maincontent">
    <div id="alerts">{{ alerts|raw }}</div>

    {% if side %}
        <div class="md:grid md:grid-cols-10 gap-4">
            <div class="sm:col-span-3 lg:col-span-2">{{ side|raw }}</div>

            <div class="sm:col-span-7 lg:col-span-8">{{ dashboard|raw }}</div>
        </div>
    {% else %}
        {{ dashboard|raw }}
    {% endif %}
</main>

<footer class="my-4 text-center">
    <div>
        &copy; {{ 'now'|date('Y') }}
        <a class="text-primary-500 font-semibold hover:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500" href="https://github.com/RobiNN1">RobiNN1</a>.
        All Rights Reserved.
    </div>
    <div>
        v{{ version }}
        <a class="text-primary-500 font-semibold hover:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500" href="{{ repo }}/issues" target="_blank" rel="noopener">Report Issue</a>
    </div>
</footer>
{{ modals|raw }}
<script src="assets/js/scripts.js?v={{ version }}"></script>
</body>
</html>
