<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site_title }} - phpCacheAdmin</title>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon.png">
    <link rel="stylesheet" href="assets/css/styles.css?v={{ version }}">

    {%- if colors -%}
        <style>
            :root {
            {{ colors }}
            }
        </style>
    {%- endif %}

</head>
<body class="bg-gray-50 text-gray-900 md:ml-56" data-dashboard="{{ current }}">
<aside id="sidebar" class="z-50 -translate-x-full md:translate-x-0 bg-primary-500 fixed top-0 left-0 bottom-0 w-56 overflow-hidden overflow-y-auto py-4 pt-6 px-6 shadow-sm shadow-gray-500">
    <div class="h-full px-0 flex flex-col justify-between pt-7 md:pt-0">
        <div>
            <a class="hidden text-white md:block pb-5" href="{{ repo }}" target="_blank" rel="noopener">{{ svg('logo', null) }}</a>
            {% for link, item in nav %}
                <a class="flex items-center py-2{{ current == link ? ' font-bold' : '' }} text-white hover:text-gray-200" href="?dashboard={{ link }}">
                    {{ svg(item.icon, 16, 'mr-1' ~ (current == link ? '' : ' opacity-75')) }} {{~ item.title ~}}
                </a>
            {% endfor %}
        </div>

        <footer class="my-4 text-center text-white">
            {% if logout_url %}
                <a class="block py-2 text-white hover:text-gray-200" href="{{ logout_url }}">Logout</a>
            {% endif %}

            <div>
                v{{ version }}

                <a class="font-semibold text-white hover:text-gray-200 block" href="{{ repo }}/issues" target="_blank" rel="noopener">Report Issue</a>
            </div>
        </footer>
    </div>
</aside>
<main class="relative p-5" id="maincontent">
    <header class="pb-5 relative flex flex-col justify-between md:hidden">
        <div class="flex justify-items-stretch">
            <button class="z-50 block" type="button" id="togglebtn">{{ svg('menu', 20) }}</button>
            <a class="mx-auto block text-lg font-bold text-gray-900 w-56" href="{{ repo }}" target="_blank" rel="noopener">{{ svg('logo', null) }}</a>
        </div>
    </header>

    <div id="alerts">{{ alerts|raw }}</div>

    {% if back_url %}
        <div class="block">
            <a class="text-lg text-primary-500 hover:text-primary-700 font-semibold inline-flex items-center mb-2" href="{{ back_url }}">
                {{ svg('back', 16, 'mr-1') }} Back
            </a>
        </div>
    {% endif %}

    {{ dashboard|raw }}
</main>
<script src="assets/js/scripts.js?v={{ version }}"></script>
</body>
</html>
