<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site_title }} - phpCacheAdmin</title>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon.png">
    <link rel="stylesheet" href="assets/css/styles.css?v={{ version }}">

    {%- if colors -%}
        <style>
            :root {
            {{ colors }}
            }
        </style>
    {%- endif %}

</head>
<body class="bg-gray-50 text-gray-900" data-dashboard="{{ current }}">
<header class="grid md:grid-cols-3 p-4 bg-white border-b border-gray-200">
    <div class="flex">
        <a class="block w-72 md:me-4" href="/">{{ svg('logo', null) }}</a>

        {% if back_url %}
            <a class="hidden md:inline-flex self-center text-lg text-primary-500 hover:text-primary-700 font-semibold  items-center" href="{{ back_url }}">
                {{ svg('back', 16, 'mr-1') }} Back
            </a>
        {% endif %}
    </div>

    <div class="flex items-center justify-center gap-4">
        {% for link, item in nav %}
            {% set link_bg = item.colors ? ' style="--link-bg:' ~ item.colors.500 ~ ';--link-bg-hover:' ~ item.colors.700 ~ ';--link-active:' ~ item.colors.300 ~ ';"' : '' %}
            <a class="sblink{{ current == link ? ' active' : '' }} flex size-9 items-center justify-center rounded text-white" {{ link_bg|raw }}href="?dashboard={{ link }}" title="{{ item.title }}">
                {{ svg(item.icon ?? ('dashboards/' ~ item.key), 16) }}
            </a>
        {% endfor %}
    </div>

    <div class="flex items-center justify-end gap-4">
        {% if logout_url %}
            <a class="text-gray-700 hover:text-gray-900" href="{{ logout_url }}" title="Logout" target="_blank" rel="noopener">{{ svg('logout', 32) }}</a>
        {% endif %}

        <a class="text-gray-700 hover:text-gray-900" href="{{ repo }}" title="GitHub" target="_blank" rel="noopener">{{ svg('github', 32) }}</a>
    </div>
</header>
<main class="p-4" id="maincontent">
    <div id="alerts">{{ alerts|raw }}</div>

    {% if side %}
        <div class="md:grid md:grid-cols-10 gap-4">
            <div class="col-span-2">{{ side|raw }}</div>

            <div class="col-span-8">{{ dashboard|raw }}</div>
        </div>
    {% else %}
        {{ dashboard|raw }}
    {% endif %}
</main>

<footer class="my-4 text-center">
    <div>
        &copy; {{ 'now'|date('Y') }}
        <a class="text-primary-500 hover:text-primary-700 font-semibold" href="https://github.com/RobiNN1">RobiNN1</a>.
        All Rights Reserved.
    </div>
    <div>
        v{{ version }}
        <a class="text-primary-500 hover:text-primary-700 font-semibold" href="{{ repo }}/issues" target="_blank" rel="noopener">Report Issue</a>
    </div>
</footer>
<script src="assets/js/scripts.js?v={{ version }}"></script>
</body>
</html>
