<span class="{{ text_sm ? 'text-sm' : 'text-xs' }} {{ txt ? txt : 'text-white' }} {{ bg ? bg : 'bg-gray-800' }} {{ pill ? 'rounded-full' : 'rounded' }} py-1 px-3 inline-block {{ class }}">
    {{- text|raw -}}
</span>
