<div class="{{ inline_input ? 'flex gap-2 w-full items-center' : 'mb-4' }}"{{ extra_attr|space|raw }}>
    <label for="{{ id }}" class="{{ inline_input ? '' : 'mb-2 ' }}block text-sm font-semibold">{{ label|raw }}</label>
    <input id="{{ id }}" name="{{ id }}" type="{{ type ? type : 'text' }}" value="{{ value }}"
           class="py-1.5 px-3 w-full text-sm bg-white rounded border border-gray-300 focus:outline-hidden focus:ring-3 focus:ring-primary-200 focus:border-primary-300
           dark:text-white dark:bg-gray-800 dark:border-gray-600 dark:focus:ring-primary-500 dark:focus:border-primary-400"{{ required ? ' required' : '' }}{{ attr|space|raw }}>
    {% if help %}
        <small class="text-xs">{{ help }}</small>
    {% endif %}
</div>
