<div class="flex flex-wrap gap-4 justify-between items-center">
    <div class="flex gap-1 items-center">
        Showing
        <span class="font-semibold">{{ first_on_page }}</span> to
        <span class="font-semibold">{{ last_on_page }}</span> of
        <span class="font-semibold">{{ total }}</span> items
    </div>

    <div class="flex gap-2 items-center">
        {{ include('components/select.twig', {id: 'per_page', options: select, selected: per_page, width: 'w-24', wrapper_class: false}) }}
        <label class="-mt-1.5" for="per_page">per page</label>
    </div>

    {% if pages and pages|length > 1 %}
        <nav class="flex -space-x-px">
            {% for page in pages %}
                {% if page == current_page %}
                    {% set class = 'text-white border-primary-400 bg-primary-500 dark:bg-primary-900 dark:border-primary-700' %}
                {% else %}
                    {% set class = 'bg-white border-gray-300 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-600 hover:text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white' %}
                {% endif %}

                {% set first_item = loop.first ? ' rounded-l' : '' %}
                {% set last_item = loop.last ? ' rounded-r' : '' %}

                {% if page == '...' %}
                    <div><span class="px-3 bg-white border border-gray-300 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-600 py-[0.4rem]">{{ page }}</span></div>
                {% else %}
                    <div><a href="{{ url ~ page }}" class="py-[0.4rem] px-3 border {{ class }}{{ first_item ~ last_item }}">{{ page }}</a></div>
                {% endif %}
            {% endfor %}
        </nav>
    {% endif %}
</div>
