<select id="{{ id }}" name="{{ id }}"
        class="select w-full appearance-none rounded border border-gray-300 bg-white py-1.5 px-3 text-sm leading-normal text-gray-600 placeholder-gray-400
        focus:outline-none focus:ring focus:ring-{{ color }}-100 focus:border-{{ color }}-300{{ class|space }}" aria-label="">
    {% for value, name in options %}
        <option value="{{ value }}"{{ value == selected ? ' selected' : '' }}>{{ name }}</option>
    {% endfor %}
</select>
