{% set sw_title = sw_title is empty and sw_label ? sw_label : sw_title %}
<label for="{{ sw_id }}" class="flex items-center cursor-pointer{{ sw_class|space }}"{{ (sw_title ? ' title="' ~ sw_title ~ '"' : '')|raw }}>
    <span class="relative block h-6 w-10 rounded-full bg-gray-400 shadow">
        <input type="checkbox" id="{{ sw_id }}"
               class="sr-only [&:checked~.dot]:translate-x-full [&:checked~.dot]:bg-gray-900 [&:checked~.dot]:text-white
               [&:checked~.dot>.open]:block [&:checked~.dot>.close]:hidden">
        <span class="dot absolute left-1 top-1 inline-flex h-4 w-4 items-center justify-center rounded-full bg-gray-50 transition-transform">
            {{ svg((sw_icon.on ? sw_icon.on : 'open'), 8, sw_icon_class.on) }}
            {{ svg((sw_icon.off ? sw_icon.off : 'close'), 8, sw_icon_class.off) }}
        </span>
    </span>
    {% if sw_label %}
        <span class="ml-1 text-sm leading-normal">{{ sw_label }}</span>
    {% endif %}
</label>
