<div class="mb-4">
    <label for="{{ id }}" class="block mb-2 text-sm font-semibold">{{ label }}</label>
    <textarea id="{{ id }}" name="{{ id }}"
              class="py-1.5 px-3 w-full text-sm bg-white rounded border border-gray-300 focus:outline-hidden focus:ring-3 focus:ring-primary-200 focus:border-primary-300
              dark:placeholder-gray-400 dark:text-white dark:bg-gray-800 dark:border-gray-600 dark:focus:ring-primary-500 dark:focus:border-primary-400"
              rows="10" required>{{ value }}</textarea>
</div>
